.specialities {
  width: 100%;
  height: auto;
  background: #171717;
  font-family: "Raleway", sans-serif;
  min-height: 50vh;
  padding: 10px;
}

.specialities__header {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 20%;
}

.specialities__highlight {
  color: #d89011;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.5);
}

.specialities__row {
  width: 100%;
  height: 80%;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 210px 10px;
}

.seller__img {
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  font-size: 1.5rem;
  filter: invert(79%) sepia(38%) saturate(2366%) hue-rotate(5deg)
    brightness(100%) contrast(97%);
}

.specialities__holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.specialities__holder p {
  font-size: 1.5rem;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .specialities__row {
    display: inline;
  }
  .specialities__holder {
    margin: 10px 0;
    margin-left: 30px;
  }
  .specialities__header {
    margin-bottom: 30px;
  }
  .specialities__holder svg {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 520px) {
  .specialities__holder p {
    font-size: 1.1rem;
  }
  .specialities__holder {
    margin-left: 5px;
  }
  .seller__img {
    width: 1.1em;
    height: 1.1em;
  }
}
